*

!dotfiles
!dotfiles/**
!modules
!modules/*.nix
!scripts
!scripts/*.sh
!config
!config/*.nix
!.sbx
!.sbx/kit
!.sbx/kit/**
!.gitattributes
!.gitignore
!.gitleaks.toml
!.pre-commit-config.yaml
!flake.lock
!flake.nix
!LICENSE
!Makefile
!README.md
!TODO.md
!versions.csv
