*

!dotfiles
!dotfiles/**
!modules
!modules/darwin.nix
!modules/home.nix
!user-data
!user-data/*.nix
!.gitattributes
!.gitignore
!flake.lock
!flake.nix
!GEMINI.md
!LICENSE
!Makefile
!README.md
!TODO.md
